button{
    width: auto;
    height: 50px;
    border-radius: 40px;
    border: solid 2px #fff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding-right: 35px;
    padding-left: 35px;
}
button:hover{
    background: linear-gradient(to right, #8176AF, #C0B7E8);
    border: #343045 solid 2px;
    color: #343045;
}